<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    
      <ion-radio-group [(ngModel)]="catSelect">
        <ion-radio value="analista" justify="end">ANALISTA</ion-radio>
        <ion-label>Categorias</ion-label>
        <ion-radio value="programador_junior" justify="end">PROGRAMADOR JUNIOR</ion-radio><br />
        <ion-radio value="programador_senior" justify="end">PROGRAMADOR SENIOR</ion-radio><br />
      </ion-radio-group>
    
    <ion-item>
      <ion-label>CIUDAD</ion-label>
      <ion-select placeholder="SELECCIONE UNA CIUDAD" value=""  [(ngModel)]="practicas">
        <ion-select-option value="Madrid">Madrid</ion-select-option>
        <ion-select-option value="Barcelona">Barcelona</ion-select-option>
        <ion-select-option value="Valencia">Zaragoza</ion-select-option>
        <ion-select-option value="Sevilla">Sevilla</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="SALARIO MINIMO" labelPlacement="stacked" [clearInput]="true"
        placeholder="INTRODUZCA UN SALARIO MINIMO" type="number" [(ngModel)]="sueldoMin">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Prácticas</ion-label>
      <ion-checkbox [(ngModel)]="practicas" name="practicas"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-button expand="block" (click)="buscar()">BUSCAR</ion-button>
    </ion-item>

    <ion-item>
      <ion-button expand="block" (click)="reset()">limpiar</ion-button>
    </ion-item>

  </ion-list>

    <div *ngIf="filtoEmpleado.length > 0">
      <ion-list>
        <ion-item *ngFor="let empleado of filtoEmpleado">
          <h2>{{ empleado.apellidos }}, {{ empleado.nombre }} </h2>
          <h6>Ciudad: {{ empleado.ciudad }} </h6>
          <p>| </p>
          <h6>Categoría: {{ empleado.categoria }} </h6>
          <h6>Sueldo: {{ empleado.sueldo }}€ </h6>
          <p>|</p>
          <h6>Prácticas: {{ empleado.practicas ? 'Sí' : 'No' }}</h6>
        </ion-item>
      </ion-list>
    </div>


</ion-content>