<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h4>CATEGORIA</h4>
  </div>
  <div>
    <ion-radio-group value="categorias">
      <ion-radio value="analista" justify="end">ANALISTA</ion-radio><br />
      <ion-radio value="programador_junior" justify="end">PROGRAMADOR JUNIOR</ion-radio><br />
      <ion-radio value="programador_senior" justify="end">PROGRAMADOR SENIOR</ion-radio><br />
    </ion-radio-group>
  
  </div>
  
  
  
</ion-content>
