<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    
      <ion-radio-group value="categorias">
        <ion-radio value="analista" justify="end">ANALISTA</ion-radio>
        <ion-label>Categorias</ion-label>
        <ion-radio value="programador_junior" justify="end">PROGRAMADOR JUNIOR</ion-radio><br />
        <ion-radio value="programador_senior" justify="end">PROGRAMADOR SENIOR</ion-radio><br />
      </ion-radio-group>
    
    <ion-item>
      <ion-label>CIUDAD</ion-label>
      <ion-select placeholder="SELECCIONE UNA CIUDAD" value="">
        <ion-select-option value="Madrid">Madrid</ion-select-option>
        <ion-select-option value="Barcelona">Barcelona</ion-select-option>
        <ion-select-option value="Valencia">Zaragoza</ion-select-option>
        <ion-select-option value="Sevilla">Sevilla</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="SALARIO MINIMO" labelPlacement="stacked" [clearInput]="true"
        placeholder="INTRODUZCA UN SALARIO MINIMO" value=0>
      </ion-input>
    </ion-item>

  </ion-list>





</ion-content>